main pre {
    &.prettyprint {
        border: 0;
        overflow: hidden;
        padding: 0 1rem;
    }
}

.navigation {
    background-color: rgb(0, 78, 105);
    color: rgb(255, 255, 255);
    min-width: 16rem;
}

.example {
    border: 1px solid rgb(240, 240, 240);
}

#viewport {
    .example {
        height: 200px;
        width: 100%;

        &.viewport--row {
            height: 200px;
            width: 100%;
        }

        &.viewport--column {
            height: 200px;
            width: 100%;
        }
    }

    .viewport {
        &__item,
        &__item--flex-min {
            background-color: rgb(220, 220, 220);
        }
    }
}
