//
// Helpers
//


// visibility
.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

// alignments
.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

// floating
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// content padding
.content {
    &--pad {
        padding: $default-padding;
    }

    &--pad-vertical {
        padding: $default-padding 0;
    }

    &--pad-horizontal {
        padding: 0 $default-padding;
    }

    &--max-size {
        max-width: $content--max-width;
    }

    &--center {
        max-width: $content--max-width;
        margin-left: auto;
        margin-right: auto;
    }
}
