//
// Phrases
//
// <code></code>
//


code {
    font-family: $font-family--monospaced;
    padding: $code--padding;
    font-size: $code--font-size;
    color: $code--color;
    background-color: $code--background-color;
    border-radius: $default-border-radius;
}