/*
 * Clearfix
 *
 * Clear floating after this element.
 */
@mixin clearfix() {
    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}