//
// Typography
//

//
// Text alignments
//
.text-align--center {
    text-align: center;
}

.text-align--left {
    text-align: left;
}

.text-align--right {
    text-align: right;
}

.text-align--justify {
    text-align: justify;
}

//
// Text breaks
//
.text--nowrap {
    white-space: nowrap;
}

//
// Text transform
//
.text--lowercase {
    text-transform: lowercase;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--capitalize {
    text-transform: capitalize;
}