html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a, [ng-click] {
  background-color: transparent; }

a:active, [ng-click]:active, a:hover, [ng-click]:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #505050;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: white; }

main {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

section {
  box-sizing: border-box; }

section {
  box-sizing: border-box; }

p {
  box-sizing: border-box;
  line-height: 1.45;
  margin: 1rem 0;
  padding: 0; }

code {
  font-family: "Courier New", monospace;
  padding: .125rem .25rem;
  font-size: 0.9em;
  color: #c62b2c;
  background-color: #f4f4f4;
  border-radius: 3px; }

pre {
  display: block;
  background-color: #f4f4f4;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  color: #505050;
  line-height: 1.45;
  word-break: break-all;
  word-wrap: break-word;
  padding: 1rem;
  margin: 0 0 1rem; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

kbd {
  padding: 0.125rem 0.25rem;
  font-size: 90%;
  font-family: "Courier New", monospace;
  color: white;
  background-color: #505050;
  border-radius: 3px; }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none; }

var {
  font-family: "Courier New", monospace; }

samp {
  font-family: "Courier New", monospace; }

a, [ng-click] {
  color: #4484cc;
  text-decoration: none;
  outline: none; }
  a:link, [ng-click]:link {
    color: #4484cc;
    outline: none; }
  a:hover, [ng-click]:hover {
    color: #4484cc;
    outline: none; }
  a:active, [ng-click]:active {
    color: #4484cc;
    outline: none; }
  a:visited, [ng-click]:visited {
    color: #4484cc;
    outline: none; }
  a:focus, [ng-click]:focus {
    color: #4484cc;
    outline: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: black;
  line-height: 1.1;
  margin: 1.25rem 0 0.625rem;
  padding: 0; }

h1, .h1 {
  font-size: 2.25rem; }

h2, .h2 {
  font-size: 1.875rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.75rem; }

blockquote {
  padding: 1rem;
  margin: 0 0 1rem;
  font-size: 1.4em;
  border-left: .35rem solid #e1e1e1; }

hr {
  border: 0;
  height: 1px;
  background-color: #e1e1e1; }
  hr.space-1, hr.space {
    margin: 1rem 0; }
  hr.space-2 {
    margin: 2rem 0; }
  hr.space-3 {
    margin: 3rem 0; }
  hr.no-line {
    background-color: transparent; }

img {
  vertical-align: middle; }

ul, ol, li, dl, dt, dd {
  box-sizing: border-box; }

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

dl dd, dl dt {
  line-height: 1.45em;
  box-sizing: border-box; }
dl dt {
  font-weight: bold; }
dl dd {
  margin-left: 0; }

strong {
  color: black;
  font-weight: 700; }

div {
  box-sizing: border-box;
  line-height: 1.45; }

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }
  table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column; }
  table td[class*="col-"], table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell; }

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #505050;
  text-align: left; }

th {
  text-align: left;
  font-weight: 700; }

body .no-js {
  display: none; }

html.no-js .no-js {
  display: block; }

html {
  font-size: 100%; }

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1280px), only screen and (min-device-pixel-ratio: 3) and (min-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (min-width: 1280px), only screen and (min-resolution: 401dpi) and (min-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), only screen and (min-resolution: 2dppx) and (min-width: 1280px), only screen and (min-width: 1280px) {
  html {
    font-size: 100%; } }

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1280px), only screen and (min-device-pixel-ratio: 3) and (max-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (max-width: 1280px), only screen and (min-resolution: 401dpi) and (max-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1280px), only screen and (min-resolution: 2dppx) and (max-width: 1280px), only screen and (max-width: 1280px) {
  html {
    font-size: 100%; } }

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 3) and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (max-width: 1024px), only screen and (min-resolution: 401dpi) and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px), only screen and (max-width: 1024px) {
  html {
    font-size: 87.5%; } }

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 768px), only screen and (min-device-pixel-ratio: 3) and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (max-width: 768px), only screen and (min-resolution: 401dpi) and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px), only screen and (max-width: 768px) {
  html {
    font-size: 75%; } }

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 480px), only screen and (min-device-pixel-ratio: 3) and (max-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (max-width: 480px), only screen and (min-resolution: 401dpi) and (max-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), only screen and (min-resolution: 2dppx) and (max-width: 480px), only screen and (max-width: 480px) {
  html {
    font-size: 62.5%; } }

.viewport--center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box; }
.viewport--row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box; }
  .viewport--row-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; }
.viewport--column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box; }
  .viewport--column-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; }
.viewport--fullsize {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; }
.viewport__item--flex-min {
  -webkit-flex: 0.00001 0 auto;
  -ms-flex: 0.00001 0 auto;
  flex: 0.00001 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  overflow-y: auto;
  box-sizing: border-box; }
.viewport__item--flex {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  overflow-y: auto;
  box-sizing: border-box; }
.viewport__item {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  overflow-y: auto;
  box-sizing: border-box; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  display: block;
  font-size: 0.8em;
  font-weight: 100;
  color: #787878; }
h1 abbr, h2 abbr, h3 abbr, h4 abbr, h5 abbr, h6 abbr, .h1 abbr, .h2 abbr, .h3 abbr, .h4 abbr, .h5 abbr, .h6 abbr {
  display: inline-block;
  font-size: 0.6em;
  color: #787878;
  font-weight: 100; }
h1.capital, h2.capital, h3.capital, h4.capital, h5.capital, h6.capital, .h1.capital, .h2.capital, .h3.capital, .h4.capital, .h5.capital, .h6.capital {
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1em;
  padding-bottom: 0.5em; }
  h1.capital small, h2.capital small, h3.capital small, h4.capital small, h5.capital small, h6.capital small, .h1.capital small, .h2.capital small, .h3.capital small, .h4.capital small, .h5.capital small, .h6.capital small {
    color: black;
    margin-top: 0.5em; }

/*
 * Yoso Fieldset
 *
 * Override the default input and button elements.
 */
.yoso-fieldset {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-top: 1em;
  box-sizing: border-box; }
  .yoso-fieldset input {
    border: none;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 200;
    padding: 0.5rem 0.6rem;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent; }
  .yoso-fieldset .pre-field {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    box-sizing: border-box; }
    .yoso-fieldset .pre-field svg {
      margin-top: 0.6rem;
      width: 2.6rem;
      height: 1.3rem; }
      .yoso-fieldset .pre-field svg path {
        fill: #e5e5e5; }
  .yoso-fieldset .field {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    box-sizing: border-box; }
  .yoso-fieldset .post-field {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    box-sizing: border-box; }
    .yoso-fieldset .post-field .state-icons svg {
      margin-top: 0.6rem;
      width: 1.3rem;
      height: 1.3rem; }
      .yoso-fieldset .post-field .state-icons svg path {
        fill: #e5e5e5; }
    .yoso-fieldset .post-field .state-icons.info svg path {
      fill: #d8edf8; }
    .yoso-fieldset .post-field .state-icons.success svg path {
      fill: #dff0d7; }
    .yoso-fieldset .post-field .state-icons.warning svg path {
      fill: #fcf8e2; }
    .yoso-fieldset .post-field .state-icons.error svg path {
      fill: #f2dede; }
  .yoso-fieldset.line {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0.5em; }

.yoso-fieldhint {
  text-align: right;
  color: #f4f4f4; }
  .yoso-fieldhint.error {
    color: #f2dede; }
  .yoso-fieldhint.success {
    color: #dff0d7; }
  .yoso-fieldhint.info {
    color: #d8edf8; }
  .yoso-fieldhint.warning {
    color: #fcf8e2; }

.yoso-button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 0.8rem 0.6rem;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  color: #5b5b5b;
  border-radius: 6px;
  font-size: 1.2em; }
  .yoso-button.primary {
    border: 1px solid #539cec;
    background-color: #539cec;
    color: white; }
  .yoso-button:disabled {
    background-color: white;
    color: #e5e5e5;
    border: 1px solid #e5e5e5; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

blockquote.active {
  border-color: #f4f4f4; }
blockquote.success {
  border-color: #dff0d7; }
blockquote.info {
  border-color: #d8edf8; }
blockquote.warning {
  border-color: #fcf8e2; }
blockquote.danger {
  border-color: #f2dede; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
  margin-bottom: 0; }
blockquote footer {
  display: block;
  font-size: 0.8em;
  line-height: 1.45;
  color: #787878; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.content--pad {
  padding: 1rem; }
.content--pad-vertical {
  padding: 1rem 0; }
.content--pad-horizontal {
  padding: 0 1rem; }
.content--max-size {
  max-width: 62rem; }
.content--center {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto; }

.list--unstyled {
  padding-left: 0;
  list-style: none; }
.list--inline {
  padding-left: 0;
  list-style: none;
  margin-left: .35rem; }
  .list--inline > li {
    display: inline-block;
    padding-left: .35rem;
    padding-right: .35rem; }
.list--flat {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list--flat ul, .list--flat ol {
    margin: 0;
    padding: 0;
    list-style: none; }
  .list--flat li {
    display: block; }

.dlist--horizontal dt {
  float: left;
  width: 10rem;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap; }
.dlist--horizontal dd {
  margin-left: 12rem; }

.block {
  overflow: hidden;
  box-sizing: border-box; }
  .block--responsive {
    overflow-x: auto;
    box-sizing: border-box; }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 768px), only screen and (min-device-pixel-ratio: 3) and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 4.177083333333333) and (max-width: 768px), only screen and (min-resolution: 401dpi) and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px), only screen and (max-width: 768px) {
      .block--responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar; }
        .block--responsive > .table {
          margin-bottom: 0; }
          .block--responsive > .table > thead > tr > th, .block--responsive > .table > thead > tr > td, .block--responsive > .table > tbody > tr > th, .block--responsive > .table > tbody > tr > td, .block--responsive > .table > tfoot > tr > th, .block--responsive > .table > tfoot > tr > td {
            white-space: nowrap; } }

.table {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
  font-size: 1rem; }
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 0.5rem;
    line-height: 1.45;
    vertical-align: top;
    border-top: 1px solid #e1e1e1; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e1e1e1; }
  .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 2px solid #e1e1e1; }
  .table .table {
    background-color: white; }
  .table tr.active, .table td.active, .table th.active {
    background-color: #f4f4f4; }
  .table tr.success, .table td.success, .table th.success {
    background-color: #dff0d7; }
  .table tr.info, .table td.info, .table th.info {
    background-color: #d8edf8; }
  .table tr.warning, .table td.warning, .table th.warning {
    background-color: #fcf8e2; }
  .table tr.danger, .table td.danger, .table th.danger {
    background-color: #f2dede; }

.table--bordered {
  border: 1px solid #e1e1e1; }
  .table--bordered > thead > tr > th, .table--bordered > thead > tr > td, .table--bordered > tbody > tr > th, .table--bordered > tbody > tr > td, .table--bordered > tfoot > tr > th, .table--bordered > tfoot > tr > td {
    border: 1px solid #e1e1e1; }
  .table--bordered > thead > tr > th, .table--bordered > thead > tr > td {
    border-bottom-width: 2px; }
.table--striped > tbody > tr:nth-of-type(odd) {
  background-color: #e1e1e1; }
.table--hover > tbody > tr:hover {
  background-color: #d8edf8; }

[ng-click] {
  cursor: pointer; }

.spinner-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  display: block;
  overflow: hidden; }
  .spinner-wrapper.center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

@-webkit-keyframes spinner-ball-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes spinner-ball-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.spinner-ball {
  width: 100%;
  text-align: center; }
  .spinner-ball > span {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: white;
    -webkit-animation: spinner-ball-bouncedelay 1.4s infinite ease-in-out;
    animation: spinner-ball-bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    .spinner-ball > span:nth-child(1) {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s; }
    .spinner-ball > span:nth-child(2) {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }

@-webkit-keyframes spinner-text-load {
  0% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: rgba(255, 255, 255, 0.1); }

  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@keyframes spinner-text-load {
  0% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: rgba(255, 255, 255, 0.1); }

  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }

@-webkit-keyframes spinner-progress-spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes spinner-progress-spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.spinner-progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 40px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation: spinner-progress-spin 1s infinite steps(8);
  animation: spinner-progress-spin 1s infinite steps(8); }
  .spinner-progress:before, .spinner-progress:after, .spinner-progress > div:before, .spinner-progress > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em;
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 3.5em rgba(255, 255, 255, 0.2);
    -webkit-transform-origin: 50% 2.5em;
    transform-origin: 50% 2.5em; }
  .spinner-progress:before {
    background-color: white; }
  .spinner-progress:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.8); }
  .spinner-progress > div:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: rgba(255, 255, 255, 0.6); }
  .spinner-progress > div:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: rgba(255, 255, 255, 0.4); }

@-webkit-keyframes spinner-circle {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spinner-circle {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.spinner-circle {
  position: relative;
  display: block;
  height: 1em;
  width: 1em;
  margin: 0 auto;
  text-indent: 999em;
  -webkit-animation: spinner-circle .6s infinite linear;
  animation: spinner-circle .6s infinite linear;
  border: 0.2em solid rgba(255, 255, 255, 0.3);
  border-radius: 100%; }
  .spinner-circle:before {
    content: "";
    display: block;
    position: absolute;
    left: -0.2em;
    top: -0.2em;
    height: 100%;
    width: 100%;
    border-top: 0.2em solid rgba(255, 255, 255, 0.8);
    border-left: 0.2em solid transparent;
    border-bottom: 0.2em solid transparent;
    border-right: 0.2em solid transparent;
    border-radius: 100%; }

@-webkit-keyframes spinner-waterdrop-fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }

@keyframes spinner-waterdrop-fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }

@-webkit-keyframes spinner-waterdrop-fade-small {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 1; }

  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0; } }

@keyframes spinner-waterdrop-fade-small {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 1; }

  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0; } }

.spinner-waterdrop {
  position: absolute;
  font-size: 5em; }
  .spinner-waterdrop.page-center {
    position: relative;
    width: 25%;
    height: 25%; }
  .spinner-waterdrop span {
    box-sizing: border-box;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    text-indent: 999em;
    color: white;
    border-color: white; }
    .spinner-waterdrop span:nth-child(1) {
      width: 1.5em;
      height: 1.5em;
      border-width: 2px;
      border-style: solid;
      top: 0.75em;
      left: 0.75em;
      -webkit-animation: ease spinner-waterdrop-fade-small 2s infinite;
      animation: ease spinner-waterdrop-fade-small 2s infinite; }
    .spinner-waterdrop span:nth-child(2) {
      width: 3em;
      height: 3em;
      border-width: 2px;
      border-style: solid;
      top: 0;
      -webkit-animation: ease spinner-waterdrop-fade 4s infinite;
      animation: ease spinner-waterdrop-fade 4s infinite; }
    .spinner-waterdrop span:nth-child(3) {
      width: 10.5em;
      height: 10.5em;
      line-height: 10.5em;
      text-align: center;
      font-size: 0.3em;
      text-indent: 0em; }
