// Configuration File

// Globals
$font-family--default:          Helvetica, Arial, sans-serif;
$font-family--monochrome:       "Courier New", monospace;
$font-family--headline:         $font-family--default;

// Document responsive screen size rules
$resolution--mini:               480px;
$resolution--small:              768px;
$resolution--medium:            1024px;
$resolution--large:             1280px;

// State Colors
$color-state--default:          rgb(240, 240, 240);
$color-state--success:          rgb(89, 186, 71);
$color-state--info:             rgb(40, 146, 221);
$color-state--warning:          rgb(226, 155, 49);
$color-state--danger:           rgb(198, 43, 44);

// Body variables
$body--font-family:             $font-family--headline;
$body--font-weight:             300;
$body--font-color:              rgb(0, 0, 0);
$body--font-size:               1rem;
$body--background-color:        rgb(255, 255, 255);

// Headline
$h--font-family:                $font-family--default;
$h--font-weight:                500;
$h--font-size:                  1rem;
$h--font-color:                 rgb(0, 0, 0);

// Link
$a--link:                       rgb(68, 132, 204);
$a--hover:                      $a--link;
$a--active:                     $a--link;
$a--visited:                    $a--link;


// code
$code--font-family:             $font-family--monochrome;
$code--background-color:        $color-state--default;
$code--color:                   $color-state--info;
